*{			
	font-family: Georgia;
	box-sizing: border-box ;
}

.test-link{
	text-align: center;
}
.test-link a{
	text-decoration: none;
	font-size: 5px;
	color:black;
	
}

.test-link :hover{
	color: green;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	
	width:100%;
}
figure {
	height: 270px;
	width: 410px;
	background-color:white;
	border: 2px solid;
	border-color: black;
	padding-bottom: 40px;
	box-shadow: 7px 7px 7px #4d4d4e;
	
}

figcaption {
	
	text-align: center;
	font-size: 25px;
	color: black;
}

.gallery img{
	height:100%;
	width:100%;	
}

.navbar{
	position: sticky;
	top:0px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	 color:white;
}

.brand{
	
	font-size: 30px;
	margin:20px;
}

.nav-links ul{
	margin:0;
	padding: 0;
	display: flex;
}

.nav-links li{
	list-style:none;
}

.nav-links li a{
	
	color:white;
	padding:35px;
	display:block;
	font-size: 20px;
}

.nav-links li a:hover{
	background-color: grey;
}

.para{
	font-size: 20px;
	background-color: rgb(247, 225, 247);
	text-align: center;
	padding-left: 200px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 200px;
}
.foot{
	text-align: center;
	font-size: 15px;
	color: white;
	background-color: rgb(41, 39, 39);
	padding-top: 0.2px;
}


.hero img{
	width:100%;
	 height:750px; 
}

@media	(max-width:900px){
	.navbar{
		flex-direction: column;
	}
}