body{
	margin: 0;
	
}
.txt{
	padding-top: 100px;
	text-align: center;
	color:black;
	font-size: 20px;
}
h2 {
	text-align: center;
}

.goto{
	
	background-color: green;
	width:100px;
	height:50px;
	position: fixed;
	bottom: 0.5em;;
	right:0.5em;
	padding-top: 12px;
	padding-left: 10px;
}
.goto a{
	text-decoration: none;
	color:white;
	font-size: 120%;
}
.box {
	width: 32%;
	height: 1200px;
	margin: 0.5em;
	background-color: rgba(255, 94, 0, 0.959);
	float: left;
	
	
}

.cont2 {
	width: 97%;
	height: 49%;
	margin: 0.5em;
	background-color: rgb(0, 255, 255);
	float: top;
	box-sizing: border-box;
	padding: 0.5em;
}

.cont11 {
	width: 40%;
	height: 97%;
	position:relative;
	background-color: rgb(0, 255, 255);
	left:5%;
	top:2%;
}
.cont12 {
	width: 40%;
	height: 97%;
	position:relative;
	background-color: rgb(0, 255, 255);
	left:55%;
	bottom:95%;
}

.box3 {
	width: 32%;
	height: 1200px;
	margin: 0.5em;
	background-color: rgba(255, 94, 0, 0.959);
	float: left;

	
}
.cont31 {
	width: 100px;
	height:1200px;
	background-color: rgb(0, 255, 255);
	position: relative;
	left:43%;
}
.cont32 {
	width: 100%;
	height: 100px;
	background-color: rgb(0, 255, 255);
	position: relative;
	bottom:50%;
}



@media screen and (max-width: 768px){
	
	.box{
		width: 100%;
	}
	.box3{
		width:100%;
	}
}
